@model Spirebyte.Services.Email.Application.DTO.UserInvitedToProjectDto
<div>
    <span>@Model.Username you have been invited to join the: @Model.ProjectTitle project. Click the link to accept or refuse</span>
    <a href="@Model.Url">Click here</a>
</div>